<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="impl.poonia.com.myapp" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="impl.poonia.com.myapp.MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="impl.poonia.com.myapp.SubActivity"
            android:label="@string/title_activity_sub">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="impl.poonia.com.myapp.MainActivity" />
        </activity>
    </application>

</manifest>
